@import '../../common.scss';

.cl-preferences-overlay
{
    .cl-categories
    {
        display: flex;
        flex-grow: 1;

        & > ul
        {
            width: 150px;
            min-width: 150px;
            border-right: solid 1px $background-color;

            &, li
            {
                padding:0;
                margin:0;
                list-style: none;
            }

            li
            {
                border-bottom: solid 1px $background-color;
                padding: 10px 5px 10px 10px;
                cursor: pointer;

                &.active
                {
                    background:$background-color;
                    color:#fff;
                }
            }

            li:last-child
            {
                border-bottom: none;
            }
        }

        & > div
        {
            flex-grow: 1;
            padding: 25px;
            text-align: justify;
        }

        aside
        {
            display: flex;
        }

        h2
        {
            color: $background-color;
            font: 500 25px sans-serif;
            margin:0;
            margin-bottom: 20px;
            flex-grow: 1;
            text-align: start;
        }

        fieldset
        {
            margin: 0;
            padding: 0;
            border: 0;

            ul, li
            {
                list-style: none;
                padding:0;
                margin:0;
            }
        }

        legend
        {
            font-size: 1em;
            line-height: inherit;
            display: block;
            width: 100%;
            max-width: 100%;
            margin-bottom: .5rem;
            padding: 0;
            white-space: normal;
            color: $background-color;
            font-weight: bold;
        }

        .cl-mobile-navigation
        {
            display: none;
        }

        @media screen and (max-width:481px),
               screen and (max-width:750px) and (orientation: landscape)
        {
            & > ul
            {
                display: none;
            }

            & > div
            {
                display: flex;
                flex-direction: column;
            }

            aside + section
            {
                flex-grow: 1;
            }

            .cl-mobile-navigation
            {
                display: flex;
                margin: 20px -25px -25px -25px;
                padding: 12px 25px;

                span
                {
                    flex-grow: 1
                }
            }        
        }
    }
}