@import '../../common.scss';
$checked-color: #55D069;
.cl-preferences-overlay .cl-toggle
{
    position: relative;
    line-height: 24px;
    min-width:20%;

    span
    {
        color: $checked-color;
    }

    input
    {
        opacity: 0;
        & + span
        {
            color: $text-color;
            padding-left: 45px;
            &:before
            {
                content: "";
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                width: 40px;
                height: 24px;
                border-radius: 16px;
                background: #fff;
                border: 1px solid #d9d9d9;
                transition: all 0.3s;
            }

            &:after
            {
                content: "";
                position: absolute;
                display: block;
                left: 0px;
                top: 0px;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background: #fff;
                border: 1px solid #d9d9d9;
                transition: all 0.3s;
            }
        }

        &:checked + span
        {
            color: $checked-color;
            &:before
            {
                background: $checked-color;
            }
            &:after
            {
                margin-left: 16px;
            }
        }
    }
}